* {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}

.login-page-container {
    background-image: -webkit-linear-gradient(65deg, #acacac 40%, #f7f7f7 30%);
}

.doctor-login-container {
    background-image: -webkit-linear-gradient(60deg, #acacac 30%, #f7f7f7 30%);
}

/* product-wrpper */
#root {
    background: #fff;
}

a {
    text-decoration: none !important;
    color: white !important;
}

a:hover {
    text-decoration: none !important;
    color: white !important;
}

.side-nav {
    float: left;
    width: 25%;
    height: 100vh;
}

.page-content {
    float: left;
    width: 85%;
    margin: 10px 0 0 10px;
}

.carousel-main {
    object-fit: cover;
}

.text-decoration {
    text-decoration: none;
}

.ant-menu-submenu-title>span {
    color: black !important;
}

.ant-menu-submenu-title>a:hover {
    color: black !important;
}

.alert-dark {
    color: #f7f7f9 !important;
}

.form-button-small {
    background: #333333;
    color: #fff;
}

.red-link {
    color: red !important;
}

.red-link:hover {
    color: red !important;
}